@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9feaff;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App h1{
  margin: 50px 0 25px 0;
  font-size: 50px;
  font-weight: 500;
  color: #067290;
  text-transform: uppercase;
}

.App.addTask{
  display: flex;
  align-items: center;
  justify-content: center;
}
input:focus{
  outline: none;
}

.addTask input {
  padding: 25px;
  font-size: 30px;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(to right, #4d7986, #2f768a,#016c8a);
  border: none;
}

::placeholder{
  color: #fff;
}

.addTask button{
  margin-left: 55px;
  padding: 20px;
  font-size: 25px;
  border-radius: 15px;
  background: linear-gradient(to right, #4d7986, #2f768a,#016c8a);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
}

.listTask{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.task{
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border-bottom: 1.5px solid rgb(30, 201, 217); */
  padding: 15px 45px;
}

.task h2{
  font-size: 35px;
  font-weight: 400;
  background: linear-gradient(to right, #4d7986, #2f768a,#016c8a);
  padding: 10px 25px;
  border-radius: 15px;
  color: #fff;
}

.task button{
  border-style: none;
  font-size: 30px;
  cursor: pointer;
  width: fit-content;
  color: #016c8a;
  font-weight: 800;
  padding: 0 25px;
}

.footer{
  margin-top: auto;
  color:#067290;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

li{
  list-style: none;
  font-size:25px;
}

.task button{
  margin-left: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
